body {
	color : #FFFFFF;
}

td  {
	font-family : Hevetica, Arial;
	font-size : 12pt;
}

h1  {
	font-family : Helvetica, Arial;
	font-size : 28pt;
	font-weight : bold;
}

h2  {
	font-family : Helvetica, Arial;
	font-size : 22pt;
	font-weight : bold;
}

h3  {
	font-family : Helvetica, Arial;
	font-size : 16pt;
	font-style : italic;
	font-weight : normal;
}

h4  {
	font-family : Helvetica, Arial;
	font-size : 18pt;
}

h6  {
	font-family : Helvetica,Arial;
	font-size : 9pt;
}

p  {
	font-size : 12pt;
	font-family : Helvetica, Arial;
}

a  {
	color : #276B61;
}

.footnote  {
	font-family : Helvetica, Arial;
	font-size : 9pt;
}

