P  {
	font-size : 12pt;
	font-family : Arial;
	font-weight : normal;
	font-style : normal;
	margin-left : 45;
}

H1  {
	font-size : 22pt;
	font-family : Arial;
	font-weight : normal;
	font-style : italic;
	margin-left : 45;
}

H2  {
	font-size : 20pt;
	font-family : Arial;
	font-weight : normal;
	font-style : italic;
	margin-left : 45;
}

H3  {
	font-family : Arial;
	font-size : 16pt;
	font-weight : normal;
	font-style : italic;
	margin-left : 45;
}

A  {
	text-decoration : none;
}

A:Visited  {}

A:Active  {}

A:Hover  {}

.nav  {
	font-family : Arial;
	font-weight : bold;
	font-style : italic;
	font-size : 12pt;
	color : White;
	text-align : center;
	text-decoration : none;
}

.albname  {
	font-size : 24pt;
	font-family : Arial;
	font-weight : normal;
	font-style : italic;
}

.reviewer  {
	font-style : italic;
	font-size : 16pt;
	font-weight : normal;
}

