P  {
	font-family : Helvetica, Arial;
}

H1  {
	color : #F26D4D;
	font-style : italic;
	font-family : Helvetica, Arial;
}

H2  {
	color : #F26D4D;
	font-style : italic;
	font-family : Helvetica, Arial;
}

H3  {
	color : #F26D4D;
	font-style : italic;
	font-family : Helvetica, Arial;
}

A  {
	color : #F26D4D;
}

A:Visited  {}

A:Active  {}

A:Hover  {}

BODY  {
	font-family : Helvetica, Arial;
	background-color : #FFFFFF;
}

LI  {
	font-family : Helvetica, Arial;
}

UL  {
	font-family : Helvetica, Arial;
}

.footnote  {
	font-size : x-small;
}

.backlink  {
	font-family : Helvetica, Arial;
	font-weight : bold;
	font-style : italic;
	color : #F26D4D;
	text-decoration : none;
	font-size : 100%;
}

TD  {
	font-family : Helvetica, Arial;
}

