<!--MKelly98-->
<HTML><HEAD><TITLE>Oil Rags</TITLE></HEAD>
<body bgcolor="#FFFFFF" background="bg.gif">
<table width=100% border=0><tr><td valign=top width=130>
<a href="/main_page.html"><img src="/images/nav-tdh-blue.gif" alt="The Dead Heart" width=121 height=42 border=0></A><br>
<a href="/opinion/"><IMG src="/images/nav-opinion-blue.gif" alt="Opinion" width=121 height=42 vspace=4 border=0></A><br>
<a href="articles.htm#rags"><IMG src="articles.gif" alt="Articles" width=121 height=42 border=0></A>

</td>
<td width=618 valign=top>
<img src="hd-aror.gif" alt="Articles - Oil Rags" width=310 height=42 border=0><p>

<font size=3 face="Arial">


<b><font size=4></a></font></b><p>

</td></table>
</BODY></HTML>
