p  {
	font-family : Helvetica, Arial;
}

h1  {
	font-family : Helvetica, Arial;
}

h2  {
	font-family : Helvetica, Arial;
}

h3  {
	font-family : Helvetica, Arial;
}

a  {
	font-family : Helvetica, Arial;
}

a:visited  {}

a:active  {}

a:hover  {}

body  {
	font-family : Helvetica, Arial;
}

td  {
	font-family : Helvetica, Arial;
}

.thead  {
	font-weight : bold;
	font-style : italic;
}

