td  {
	font-family : Arial;
	font-size : 12pt;
}

h1  {
	font-family : Arial;
	font-size : 26pt;
	font-weight : bold;
	color : #ffffff;
	font-style : italic;
}

h3  {
	font-family : Arial;
	font-size : 16pt;
	font-style : italic;
	font-weight : normal;
}

h4  {
	font-family : Arial;
	font-size : 18pt;
}

h6  {
	font-family : Arial;
	font-size : 9pt;
}

p  {
	font-size : 12pt;
	font-family : Arial;
	margin-left : 6;
}

.backref  {
	font-weight : bold;
	font-style : italic;
	font-size : 16pt;
}

dl  {
	margin-left : 6;
	font-size : 12pt;
	font-family : Arial;
}

dl  {
	margin-left : 6;
	font-size : 12pt;
	font-family : Arial;
}

form  {
	font-family : Arial;
	font-size : 12pt;
	margin-left : 6;
}

