P  {
	font-size : 12pt;
	font-family : Arial;
}

H1  {
	font-size : 22pt;
	font-family : Arial;
	font-weight : normal;
	font-style : italic;
	text-decoration : underline;
}

H2  {}

H3  {
	font-size : 16pt;
	font-family : Arial;
	font-weight : bold;
	font-style : normal;
}

A  {}

A:Visited  {}

A:Active  {}

A:Hover  {}

BODY  {}

B  {
	font-weight : bold;
}

.smaller  {
	font-size : small;
	font-weight : normal;
}

.que  {
	font-weight : bold;
	font-style : italic;
}

